.pokemon-card {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.5rem;
  width: 600px;
  height: 610px;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(34, 116, 109, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-header:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.pokemon-types {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.type-badge {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  background-color: #e2e8f0;
  color: #334155;
}

.type-fire{
    background-color: #ff421d;
    color: #000000;
}

.pokemon-card:hover{
    transform: translateY(-7px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

}

.type-fogo { 
    background-color: #ff421d; 
    color: #ffffff; 
}

.type-agua { 
    background-color: #268bf7; 
    color: #ffffff; 
}

.type-planta { 
    background-color: #57b952; 
    color: #ffffff; 
}

.type-eletrico { 
    background-color: #fbc02d; 
    color: #333333; 
}

